<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href='/'>Home</a><br />

<h2>Results found</h2>
<table>
    <tr>
        <th>Company</th>
        <th>City</th>
        <th>Job</th>
        <th>Contact</th>
    </tr>
    <tr th:each="dataObject : ${dataObjects}">
        <td th:text="${dataObject.company}"></td>
        <td th:text="${dataObject.city}"></td>
        <td th:text="${dataObject.jobOpening}"></td>
        <td th:text="${dataObject.contact}"></td>
    </tr>
</table>

</body>
</html>